<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
    <div class='card'>
        <h2>{{restaurant.name}}</h2>
        <img src={{restaurant.image_url}} alt="Picture of nature" />
        <p>{{restaurant.display_address}}</p>
        <table>
            <tr>
                <p>Price: {{restaurant.price}}</p>
            </tr>
            <tr>
                <p>Rating: {{restaurant.rating}}</p>
            </tr>
            <tr>
                <p> Number of Reviews: {{restaurant.review_count}}</p>
            </tr>
        </table>
    </div>
    </main>
</body>
</html>

